/* Your CSS goes here */

form input{
    background: pink;

}
form select {
    background: pink;    
}

#submit_button{
    background: yellow;
}

#type_bold{
    font-weight: bold;
}

/*#border_time{
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}*/
#large-box{
    width: 400px;
    height: 100px;
    display: inline-block;
    padding:auto;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    }

/* 
Open the CSS file, styles.css, and use this to stylize
the HTML file, application-form.html.

2) Then, complete each of the following styles using CSS:
    - Draw a border around the instruction text.


*/ 